<ion-header>
  <ion-toolbar>
    <ion-title>botoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1>Botões</h1>
  <ion-button>Padrão</ion-button>
  <ion-button href="https://github.com/">Link</ion-button>
  <h4>Cores</h4>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>

  <ion-button color="success">success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">danger</ion-button>
  <ion-button color="light">light</ion-button>
  <ion-button color="medium">medium</ion-button>
  <ion-button color="dark">dark</ion-button>

  <h4>Expandido</h4>
  <ion-button expand="full" color="success">success</ion-button>
  <ion-button expand="block" color="success">success</ion-button>

  <h4>Arredondado</h4>
  <ion-button shape="round" color="success">success</ion-button>

  <h4>Preenchimento</h4>
  <ion-button fill="outline" color="warning">success</ion-button>

  <h4>Icone</h4>
  <ion-button>
    <ion-icon name="star" slot="start"></ion-icon>
    Icone </ion-button
  ><br />
  <ion-button>
    <ion-icon name="star" slot="end"></ion-icon>
    Icone </ion-button
  ><br />
  <ion-button>
    <ion-icon
      name="arrow-back-outline"
      slot="icon-only"
    ></ion-icon> </ion-button
  ><br />

  <h4>Tamanho</h4>
  <ion-button size="large">large</ion-button>
  <ion-button size="small">small</ion-button>
  <ion-button size="medium">medium</ion-button> -->
  <h1>Botões</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
    obcaecati repellat nesciunt accusamus ullam sunt rerum molestias facere
    accusantium, enim placeat officiis quo sequi ducimus similique fuga.
    Aliquid, vero fuga.
  </p>
</ion-content>
